h1{
  color:blue;
}

.hilite{
  color:violet
  /*font-size:400px;*/
}

.embiggen{
  color:red
  font-weight:bold;
  font-size:300px

}

.page-title{
  color:red;
}

.page-title-enjoy{
  text-transform:uppercase;
}

/*.page-title.page-title-enjoy{
  color:darkturquoise dont use this one
}*/

.kayak{
 boarder-ridus:50px
}
